In [1]:
import pandas as pd
import numpy as np

In [2]:
data= pd.read_csv("/content/jokes-data.csv")

In [3]:
data

               id  user_id  joke_id  Rating
0       31030_110  31030.0    110.0   2.750
1       16144_109  16144.0    109.0   5.094
2         23098_6  23098.0      6.0  -6.438
3        14273_86  14273.0     86.0   4.406
4       18419_134  18419.0    134.0   9.375
...           ...      ...      ...     ...
796001  31832_121  31832.0    121.0  -5.875
796002   1187_110   1187.0    110.0   8.000
796003    16243_9  16243.0      9.0   5.500
796004   14514_76  14514.0     76.0  -3.000
796005         31      NaN      NaN     NaN

[796006 rows x 4 columns]

In [4]:
data.head()

          id  user_id  joke_id  Rating
0  31030_110  31030.0    110.0   2.750
1  16144_109  16144.0    109.0   5.094
2    23098_6  23098.0      6.0  -6.438
3   14273_86  14273.0     86.0   4.406
4  18419_134  18419.0    134.0   9.375

In [5]:
data['user_id'].nunique()

40861

In [6]:
data['joke_id'].nunique()

139

In [7]:
data.shape

(796006, 4)

In [8]:
##### surprise

In [9]:
pip install surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: surprise in /usr/local/lib/python3.10/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.10/dist-packages (from surprise) (1.1.3)
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.10.1)

In [10]:
#### collobarative filteing

In [11]:
#### user_id,joke_id,Rating

In [12]:
data = data.drop("id", axis=1)

In [13]:
data

        user_id  joke_id  Rating
0       31030.0    110.0   2.750
1       16144.0    109.0   5.094
2       23098.0      6.0  -6.438
3       14273.0     86.0   4.406
4       18419.0    134.0   9.375
...         ...      ...     ...
796001  31832.0    121.0  -5.875
796002   1187.0    110.0   8.000
796003  16243.0      9.0   5.500
796004  14514.0     76.0  -3.000
796005      NaN      NaN     NaN

[796006 rows x 3 columns]

In [14]:
from surprise import Reader, Dataset, KNNBasic, SVD

In [15]:
##### define a reader object
#### the reader object helps in parsing the file or dataframe containing ratings

In [16]:
reader = Reader()

In [17]:
#### create a the dataset to be used for building the filter

In [18]:
df = Dataset.load_from_df(data, reader)

In [19]:
df

# SVD

In [20]:
#algo=KNNBasic()

In [21]:
from surprise import SVD, KNNBasic
algo = SVD()

In [22]:
from surprise.model_selection import cross_validate

In [23]:
cross_validate(algo, df, measures= ["RMSE"], cv = 5 , verbose = True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    6.1619  6.1450  6.1649  6.1730  nan     nan     nan
Fit time          10.15   8.30    8.33    8.29    8.26    8.66    0.74
Test time         2.26    1.39    1.24    1.42    1.48    1.56    0.36

{'test_rmse': array([6.16190756, 6.14501683, 6.16487569, 6.17299043,        nan]),
 'fit_time': (10.150160074234009,
  8.295848369598389,
  8.329430341720581,
  8.2920663356781,
  8.257013320922852),
 'test_time': (2.25514554977417,
  1.3949501514434814,
  1.239288330078125,
  1.4184439182281494,
  1.4760191440582275)}

In [24]:
#from surprise import KNNBasic

In [25]:
knn_algo = KNNBasic()

In [26]:
#cross_validate(knn_algo, data, measures= ["RMSE"], cv = 5 , verbose = True)

In [27]:
df_test = pd.read_csv('/content/jokes-data.csv')
df_test.head(10)

          id  user_id  joke_id  Rating
0  31030_110  31030.0    110.0   2.750
1  16144_109  16144.0    109.0   5.094
2    23098_6  23098.0      6.0  -6.438
3   14273_86  14273.0     86.0   4.406
4  18419_134  18419.0    134.0   9.375
5    5782_14   5782.0     14.0  -1.781
6   34059_62  34059.0     62.0   6.250
7     1159_9   1159.0      9.0  -2.906
8   17736_32  17736.0     32.0  -5.750
9   22626_22  22626.0     22.0   1.656

In [28]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 796006 entries, 0 to 796005
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       796006 non-null  object
 1   user_id  796005 non-null  float64
 2   joke_id  796005 non-null  float64
 3   Rating   796005 non-null  float64
dtypes: float64(3), object(1)
memory usage: 24.3+ MB

In [29]:
df_test.nunique()

id         796006
user_id     40861
joke_id       139
Rating        641
dtype: int64

In [30]:
df_test.drop('id', axis=1, inplace=True)

In [31]:
test_reader = Reader()
test_data = Dataset.load_from_df(df_test, test_reader)

In [32]:
test_data